/*============
Global Styling
===============*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #e3f0ff;
}

body {
  background-color: #fab1a0;
  width: max(50%, 450px);
  margin: 0 auto;
  font-size: max(30%, 2rem);
}

/*============
  typography
===============*/

h1 {
  font-size: 1.1em;
  margin: 0.3%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 700;
  color: #2d3436;
}
h2 {
  margin: 0.3%;
  color: #2d3436;
}
h2 span {
  color: #2d3436;
}

/*============
  Game Components
===============*/

/* Info Navigation-Section*/
.info {
  -webkit-box-shadow: 8px 5px 14px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 5px 14px 7px rgba(0, 0, 0, 0.75);
  width: min(30em, 85%);
  padding: 0.5em;
  margin: 1em auto;
  background-color: #0984e3;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .info {
    width: fit-content;
    padding: 0.5em;
  }
}

.info > * {
  flex-basis: 100%;
}

.txt {
  font-size: 1.25em;
  margin: auto;
}

.sound {
  cursor: pointer;
}

.flex {
  display: flex;
}

.icon {
  height: 2.2em;
}

.emoji {
  cursor: pointer;
}

img {
  height: 100%;
}

/* Game Board*/

.board {
  -webkit-box-shadow: 8px 5px 14px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 5px 14px 7px rgba(0, 0, 0, 0.75);
  position: relative;
  margin: 1em auto;
  left: 0;
  right: 0;
  padding: 10px;
  gap: 4px;
  max-width: 400px;
  border-radius: 1em;
  background-color: #0984e3;
}

/* Columns & Cells*/

.col {
  display: flex;
}
.col > * {
  flex-basis: 100%;
}

.cell {
  cursor: pointer;
}

.cell img {
  max-width: 100%;
}

/* Buttons */

.btn-section {
  margin: 1em auto;
  width: min(85%, 500px);
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.btn-section > * {
  flex: 1 1 12em;
}

.btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 0.5em;
  font-size: 0.8em;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background: #a30b0b;
}

.btn:hover {
  background: #e17055;
}

/* footer */

footer {
  color: #2d3436;
}
