@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #e3f0ff;
}

body {
  background-color: #fab1a0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
}
h1 {
  font-size: 1.1em;
  margin: 0.3%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #2d3436;
}
h2 {
  margin: 0.3%;
  color: #2d3436;
}
h2 span {
  color: #2d3436;
}
.info {
  -webkit-box-shadow: 8px 5px 14px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 5px 14px 7px rgba(0, 0, 0, 0.75);
  margin-top: 0.5%;
  width: 30em;
  padding: 0.3em;
  background-color: #0984e3;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .info {
    width: fit-content;
    padding: 0.5em;
  }
}
.info > * {
  flex-basis: 100%;
}
.board {
  -webkit-box-shadow: 8px 5px 14px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 5px 14px 7px rgba(0, 0, 0, 0.75);
  position: relative;
  left: 0;
  right: 0;
  padding: 10px;
  gap: 4px;
  margin: 10px;
  border-radius: 1em;
  background-color: #0984e3;
}

.col {
  display: flex;
}
.col > * {
  flex-basis: 100%;
}
.info span {
  font-size: 1.15em;
}
.stopwatch {
  display: flex;
}
.txt {
  margin-top: auto;
  margin-bottom: auto;
}
.sound {
  cursor: pointer;
}
.live-count {
  display: flex;
}
.bomb-info {
  display: flex;
}
.icon {
  height: 2.2em;
}

.emoji {
  cursor: pointer;
}

.cell {
  margin: 1%;
  cursor: pointer;
}

img {
  height: 100%;
}

.btn-section {
  margin-top: 10px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.btn-section > * {
  flex: 1 1 12em;
}
.btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 0.7em;
  font-size: 0.7em;
  margin-bottom: 0.1em;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background: #d63031;
}
.btn:hover {
  background: #e17055;
}

footer {
  color: #2d3436;
}
